// GLOBAL SETTINGS
* {
    font-family: "Cinzel", serif;

    margin: 0px;
    font-size: 1.3rem;

    a {
        text-decoration: none;
        color: black;
    }

    button {
        border: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
        margin: 0px 0px;
    }

    button:hover {
        background-color: lightgray;
    }

    button:active {
        background-color: black;
        color: white;
    }
}

.wrapper {
    background-color: lightblue;
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        ". gHeader ."
        ". gInput ."
        ". gResults ."
        ". gControls ."
        ". gFooter .";
    align-items: center;
    text-align: center;


    .header {
        grid-area: gHeader;

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .input {
        padding: 0px;
        grid-area: gInput;
        grid-gap: 10px;

        //background-color: yellow;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-auto-rows: 1fr 1fr;
        grid-template-areas:
            "ggformtext ggformsubmit"
            "ggformtext ggformclear";



        .formtext {
            grid-area: ggformtext;
            background-color: aliceblue;
            margin: 0px;

            input[type="text"] {
                border: 0px;
                height: 100%;
                width: 100%;
                //font-size: 2rem;
                text-align: center;
                padding: 0;
                margin: 0;
            }
        }
    }

    .results {
        grid-area: gResults;
        //background-color: red;
    }

    .controls {
        //display: flex;
        display: flex;
        grid-area: gControls;
        justify-content: center;

        //background-color: red;
        button {
            //padding: 0px;
            width: 200px;
            height: 78px;
            //margin: 0px 10px;
        }
    }

    .footer {
        font-family: "Marvel", sans-serif;
        grid-area: gFooter;
        //background-color: lightblue;
    }

    .formsubmit {
        grid-area: ggformsubmit;
    }

    .formclear {
        grid-area: ggformclear;
    }

}

@media only screen and (max-width: 750px) {
    .wrapper {
        grid-template-columns: 5% 1fr 5%;
        background-color: lightblue;
        grid-template-areas:
            //". . ."
            ". gHeader ."
            ". gInput ."
            ". gResults ."
            ". gControls ."
            ". gFooter .";
        //". . .";

        .input {
            //padding: 10px;
            grid-area: gInput;
            grid-gap: 10px;
            //background-color: yellow;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr 1fr;
            grid-template-areas:
                "ggformtext ggformtext"
                "ggformsubmit ggformclear";

            button {
                border: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                margin: 0px;
            }

            .formtext {
                grid-area: ggformtext;
                margin: 0px;
            }
        }
    }


    .controls {
        grid-area: gControls;

        //background-color: red;
        // button {
        //     padding: 0px;
        //     width: 100%;
        //     height: 100%;
        //     margin: 0px 0px;
        // }
    }

}